streamlit
requests
beautifulsoup4
textblob
matplotlib
deep-translator
wordcloud
spacy==3.8.0
pandas
plotly
lxml
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
